.header__title {
    width: 730px;
    margin: 0px;
    position: relative;
    left: 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 3;
}